In [26]:
# 構造体 : 様々な型データを1つにまとめたデータ構造

# 定義
from dataclasses  import dataclass

# 構造体宣言
@dataclass
class Person:
  address : str   # 住所(文字列)
  name : str      # 名前(文字列)
  age : int       # 年齢(整数)


# 変数に様々な情報を代入する
person = Person('大阪','谷野',27)

# 出力
print(person)         # 代入した全ての情報を出力
print(person.name)    # 名前だけ出力

Person(address='大阪', name='谷野', age=27)
谷野

In [30]:
# 配列 : 同じデータ型を集めて効率的に格納するデータ構造
# Pythonで配列を使用する場合は「list[]」を使用する
# 例 : list[10]

# 要素に関しての豆知識として要素がマイナス値も指定できる
# 例 : list[10]の場合で要素が-2に時はlist[9]の要素になる(-1は最大値になるので要素は10になる)

# 実装例
list_number = [0,1,2,3,4,5,6]

# 1つの要素数の出力
print(list_number[2])
print(list_number[-2])  # 要素が-2なので最大値から二番目という意味合いになる
print('\n')

# ループ(要素数分)
for number in list_number:
  print(number)
print('\n')


# 配列の要素の追加・削除は以下のメソッドを使用する
list = [0,1,2,3,4]

# 追加
#list.append(5)    # 配列の一番最後の要素数として追加される
#list.insert(2,4)  # 要素数を指定して追加する(要素数2の場所に4を格納する)

# 削除
#del list[2]        # 指定した要素数を削除される
#list.pop()         # 配列の一番最後の要素数が削除される
#list.pop(2)        # 指定した要素数を削除する

print(list)

2
5


0
1
2
3
4
5
6


[0, 1, 3, 4, 5]